:host {
  display: inline-block;
  height: auto;
  width: auto;
  button.typeform-button {
    display: inline-block;
    text-decoration: none;
    background-color: #267DDD;
    color: white;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    height: 50px;
    padding: 0px 33px;
    border-radius: 25px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline:none;

    &:focus {
      outline:none;
    }
  }
}